<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="container-fluid">
  <!-- Nav tabs -->

  <div>
    <img
      src="../../../assets/book_logo.png"
      class="img-logo"
      style="border: 2px solid black; border-radius: 10px"
    />
  </div>

  <div style="padding-top: 16px !important">
    <h3 style="font-size: 35px !important; font-family: Brush Script MT">
      Roxanne.com
    </h3>
  </div>

  <div>
    <button nbButton ghost (click)="navMenuClick()">
      <i
        class="fa fa-bars"
        style="font-size: 22px; color: rgb(105, 104, 104)"
        aria-hidden="true"
      ></i>
    </button>
  </div>

  <div class="searchInput">
    <input
      #searchInput
      [formControl]="searchControl"
      type="text"
      nbInput
      fullWidth
      fullWidth
      fieldSize="medium"
      shape="round"
      name="search"
      id="search"
      placeholder="Tìm kiếm sản phẩm"
    />
  </div>

  <div>
    <button nbButton status="primary">
      <i class="fa fa-search" aria-hidden="true" style="font-size: 15px"></i>
    </button>
  </div>

  <button nbButton ghost status="primary">
    <i
      class="fa fa-bell"
      aria-hidden="true"
      style="font-size: 22px; color: rgb(105, 104, 104)"
    ></i>
  </button>

  <button nbButton ghost status="primary" [nbPopover]="userLogRef">
    <i
      class="fa fa-user"
      aria-hidden="true"
      style="font-size: 22px; color: rgb(105, 104, 104)"
    ></i>
  </button>

  <ng-template #userLogRef>
    <button nbButton (click)="openDialog()">Đăng nhập</button>
    <button nbButton>Đăng kí</button>
  </ng-template>

  <button nbButton ghost status="primary">
    <i
      class="fa fa-shopping-cart"
      style="font-size: 22px; color: rgb(105, 104, 104)"
      aria-hidden="true"
    ></i>
  </button>

  <div
    id=".autocomplete-search"
    #autocompleteSearch
    class="autocomplete-search"
    (appOutsideClick)="outsideAutoCompleteSearchClick($event)"
  >
    <h6>Sản phẩm tìm kiếm</h6>
    <div class="searchContent">
      <h6 *ngIf="bookList.length <= 0">Không có kết quả phù hợp</h6>
      <app-book-card
        *ngFor="let book of bookList"
        [id]="book.id ?? ''"
        [name]="book.title"
        [totalSoldInMonth]="book.bookStatus.soldNumberInMonth"
        [remainNumber]="book.bookStatus.remainNumber"
        [currentPrice]="book.bookStatus.currentPrice"
        [cardType]="'search'"
      ></app-book-card>
    </div>
  </div>

  <div
    id="mySidenav"
    #mySidenav
    class="sidenav"
    (appOutsideClick)="outsideClick($event)"
  >
    <h6 style="font-size: 24px; padding-bottom: 0 !important">
      Danh mục sản phẩm
    </h6>
    <div class="sideNavContent">
      <div class="sidenavCategory">
        <h6 style="font-size: 16px; padding-bottom: 0 !important">Văn học</h6>
        <a href="#"><p>Tiểu thuyết</p></a>
        <a href="#"><p>Truyện ngắn</p></a>
      </div>

      <div class="sidenavCategory">
        <h6 style="font-size: 16px; padding-bottom: 0 !important">Kinh tế</h6>
        <a href="#"><p>Marketting</p></a>
        <a href="#"><p>Quản trị lãnh đạo</p></a>
      </div>

      <div class="sidenavCategory">
        <h6 style="font-size: 16px; padding-bottom: 0 !important">
          Sách giáo khoa
        </h6>
        <a href="#"><p>Lớp 1</p></a>
        <a href="#"><p>Lớp 2</p></a>
      </div>

      <div class="sidenavCategory">
        <h6 style="font-size: 16px; padding-bottom: 0 !important">
          Sách giải trí
        </h6>
        <a href="#"><p>Comic</p></a>
        <a href="#"><p>Manga</p></a>
      </div>
    </div>
  </div>
</div>
