* {
  box-sizing: border-box;
  font-family: Helvetica;
}
.container {
  padding-left: 20px;
  background-color: #3f51b5 !important;
  margin-left: 0;
  margin-right: 0 !important;
  width: 100%;
  position: relative;
  top: 0;
}

img.img-logo {
  max-width: 50px;
  max-height: 50px;
}

img.img-logo {
  max-width: 50px;
  max-height: 50px;
}

ul li a {
  font-weight: bold;
  color: whitesmoke;
}

ul {
  padding-top: 12px;
}

ul li a:hover {
  font-weight: bold;
  color: #3f51b5;
}

#log-button-group {
  display: flex;
  padding-right: 20px;
  flex-direction: row-reverse;
  padding-bottom: 20px;
}