* {
  box-sizing: border-box;
  font-family: Helvetica;
}

.container-fluid {
  display: flex;
  flex-direction: row !important;

  flex-wrap: wrap;

  justify-content: center !important;
  align-items: center !important;

  opacity: 0.95;
  margin-left: 0;
  margin-right: 0 !important;
  top: 0;
  padding-bottom: 8px;
}

.container-fluid::after {
  content: "";
  clear: both;
  display: table;
}

.container-fluid div {
  padding-right: 20px !important;
}

img.img-logo {
  max-width: 50px;
  max-height: 50px;
}

.searchInput {
  width: 700px !important;
}

.container .row img {
  position: absolute;
  margin-top: -5px;
  width: 40px;
  height: 40px;
  border-radius: 100% !important;
  border: 2px solid rgb(90, 87, 119);
}

.container .row img:hover {
  margin-top: -10px;
  margin-right: -5px;
  position: absolute;
  width: 50px !important;
  height: 50px !important;
  border-radius: 100% !important;
  border: 3px solid rgb(15, 116, 45);
}

img.img-logo {
  max-width: 50px;
  max-height: 50px;
}
