<form>
  <mat-form-field
    class="example-chip-list"
    appearance="fill"
    class="full-width"
  >
    <mat-label>Favorite Categorys</mat-label>
    <mat-chip-grid #chipGrid aria-label="Fruit selection">
      <mat-chip-row
        *ngFor="let category of categoryNameList"
        (removed)="remove(category)"
      >
        {{ category }}
        <button matChipRemove [attr.aria-label]="'remove ' + category">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      placeholder="New Category..."
      #categoryInput
      [formControl]="categoryCtrl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
      (optionsScroll)="onScroll($event)"
    >
      <mat-option
        *ngFor="let category of data"
        [value]="category"
        [disabled]="isChecked(category)"
      >
        <div>
          <div style="font-weight: bold">
            {{ category.name }}
            <mat-icon>{{ isChecked(category) && "checked" }}</mat-icon>
          </div>

          <small>{{ onDisplayAtr(category) }}</small>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
