.container {
  max-height: 800px !important;
  padding: 40px 0 40px;
}

.outlet {
  background-color: #fafafa;
  padding: 30px 50px 0px;
}

.create-form {
  padding-top: 20px;
  padding-bottom: 20px;
}
.input-group {
  width: 100% !important;
}

.full-width-input {
  width: 80% !important;
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
  min-width: 28px !important;
}

/* Add padding to move the label and input into the center to prevent overlapping the rounded border */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 32px !important;
}
