<div [formGroup]="stayingFormGroup">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
      <div class="row">
        <h2
          mat-form-label
          style="font-weight: heavy; font-size: 16px; margin-bottom: 0px"
        >
          Thêm thông tin lịnh trình ngủ nghỉ
        </h2>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Loại nhà nghỉ</mat-label>
          <select matNativeControl required (change)="changeType($event)">
            <option value="1">Hotel</option>
            <option value="0">HomeStay</option>
          </select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field
          class="example-chip-list"
          appearance="outline"
          class="full-width-input"
        >
          <mat-label>Danh sách lịch trình nơi ở</mat-label>
          <mat-chip-grid #chipGrid aria-label="Fruit selection">
            <mat-chip-row
              *ngFor="let staying of stayingNameList"
              (removed)="remove(staying)"
              style="font-size: 16px"
            >
              {{ staying }}
              <button matChipRemove [attr.aria-label]="'remove ' + staying">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>

          <input
            *ngIf="stayingNameList.length < 1"
            placeholder="New Category..."
            #stayingInput
            [formControl]="stayingCtrl"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
          />

          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
            (optionsScroll)="onScroll($event)"
          >
            <mat-option
              *ngFor="let staying of data"
              [value]="staying"
              [disabled]="isChecked(staying)"
            >
              <div>
                <div style="font-weight: bold">
                  {{ staying.placeBranch }}
                  <mat-icon>{{ isChecked(staying) && "checked" }}</mat-icon>
                </div>

                <small>{{ onDisplayAtr(staying) }}</small>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div *ngIf="stayingNameList.length >= 1">
        <div class="row">
          <h4
            mat-form-label
            style="font-weight: bold; text-decoration: underline"
          >
            Thêm thông tin nơi ở
          </h4>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Tình trạng</mat-label>
            <select matNativeControl required (change)="changeStatus($event)">
              <option value="0">Mới tạo</option>
              <option value="1">Đang thực hiện</option>
              <option value="2">Hoàn thành</option>
              <option value="2">Hủy</option>
            </select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Địa chỉ nơi ở</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: Bồ Công Anh"
              formControlName="address"
            />
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="stayingFormGroup"
            [formGroupControlName]="'address'"
          ></app-validation>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Số diện thoại hỗ trợ</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: Bồ Công Anh"
              formControlName="supportNumber"
            />
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="stayingFormGroup"
            [formGroupControlName]="'supportNumber'"
          ></app-validation>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Giá đơn vé trung bình</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: 180.000đ"
              formControlName="singlePrice"
            />
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="stayingFormGroup"
            [formGroupControlName]="'singlePrice'"
          ></app-validation>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Ngày bắt đầu</mat-label>
            <input
              matInput
              [ngxMatDatetimePicker]="stayingPicker"
              placeholder="Choose a date"
              formControlName="startDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="$any(stayingPicker)"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #stayingPicker
              [showSpinners]="true"
              [showSeconds]="true"
              [touchUi]="touchUi"
              [color]="color"
              [enableMeridian]="enableMeridian"
            >
            </ngx-mat-datetime-picker>
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="stayingFormGroup"
            [formGroupControlName]="'startDate'"
          ></app-validation>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Ngày kết thúc</mat-label>
            <input
              matInput
              [ngxMatDatetimePicker]="picker"
              placeholder="Choose a date"
              formControlName="endDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="$any(picker)"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #picker
              [showSpinners]="true"
              [showSeconds]="true"
              [touchUi]="touchUi"
              [color]="color"
              [enableMeridian]="enableMeridian"
            >
            </ngx-mat-datetime-picker>
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="stayingFormGroup"
            [formGroupControlName]="'endDate'"
          ></app-validation>
        </div>

        <div
          class="row"
          style="display: flex; flex-direction: column !important; flex-wrap: 1"
        >
          <mat-form-field style="width: 80%">
            <textarea
              matInput
              class="form-control"
              id="description"
              placeholder="Thông tin đính kèm"
              formControlName="description"
              rows="10"
            ></textarea>
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="stayingFormGroup"
            [formGroupControlName]="'description'"
          ></app-validation>
        </div>

        <div
          class="row"
          style="display: flex; flex-direction: row !important; flex-wrap: 1"
        >
          <div style="margin-right: 20px">
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="addToSchedule()"
            >
              Thêm
            </button>
          </div>

          <div>
            <button
              mat-raised-button
              color="warn"
              type="button"
              (click)="this.formReset()"
            >
              Khôi phục
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
      <div class="row">
        <h2
          mat-form-label
          style="font-weight: heavy; font-size: 16px; margin-bottom: 0px"
        >
          Danh sách lịch trình nơi ở
        </h2>
      </div>

      <div
        class="row"
        *ngIf="stayingScheduleList.length < 1 && data_selected.length < 1"
      >
        <mat-chip color="warn" style="font-size: 16px"
          >Chưa có danh sách</mat-chip
        >
      </div>

      <ng-template
        #inputMovingSchedule
        let-index="index"
        let-id="id"
        let-placeName="placeName"
        let-address="address"
        let-supportNumber="supportNumber"
        let-singlePrice="singlePrice"
        let-startDate="startDate"
        let-endDate="endDate"
        let-description="description"
      >
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
          "
        >
          <mat-expansion-panel
            [expanded]="false"
            style="width: 80%; margin-right: 10px"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Lịch trình mới {{ index + 1 }}</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <span style="font-weight: bold">Địa điểm: </span> {{ placeName }}
            </p>
            <p><span style="font-weight: bold">Địa chỉ:</span> {{ address }}</p>
            <p>
              <span style="font-weight: bold">SĐT hỗ trợ:</span>
              {{ supportNumber }}
            </p>
            <p>
              <span style="font-weight: bold">Giá đơn:</span>
              {{ singlePrice }}
            </p>
            <p>
              <span style="font-weight: bold">Ngày bắt đầu:</span>
              {{ startDate }}
            </p>
            <p>
              <span style="font-weight: bold">Ngày kết thúc:</span>
              {{ endDate }}
            </p>
            <button
              mat-raised-button
              color="primary"
              (click)="removeSchedule(id)"
            >
              Gỡ
            </button>
          </mat-expansion-panel>
        </div>
      </ng-template>

      <ng-template
        #existMovingSchedule
        let-index="index"
        let-id="id"
        let-placeName="placeName"
        let-address="address"
        let-supportNumber="supportNumber"
        let-singlePrice="singlePrice"
        let-startDate="startDate"
        let-endDate="endDate"
        let-description="description"
      >
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
          "
        >
          <mat-expansion-panel
            [expanded]="false"
            style="width: 80%; margin-right: 10px"
          >
            <mat-expansion-panel-header>
              <mat-panel-title style="color: green">
                Lịch trình {{ index + 1 }}
                <i
                  class="fa fa-check"
                  style="margin-left: 5px"
                  aria-hidden="true"
                ></i
              ></mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <span style="font-weight: bold">Địa điểm: </span> {{ placeName }}
            </p>
            <p><span style="font-weight: bold">Địa chỉ:</span> {{ address }}</p>
            <p>
              <span style="font-weight: bold">SĐT hỗ trợ:</span>
              {{ supportNumber }}
            </p>
            <p>
              <span style="font-weight: bold">Giá đơn:</span>
              {{ singlePrice }}
            </p>
            <p>
              <span style="font-weight: bold">Ngày bắt đầu:</span>
              {{ startDate }}
            </p>
            <p>
              <span style="font-weight: bold">Ngày kết thúc:</span>
              {{ endDate }}
            </p>
            <button
              mat-raised-button
              color="primary"
              (click)="clickEditSchedule(id)"
              style="margin-right: 10px"
            >
              Chỉnh sửa
            </button>
            <button
              mat-raised-button
              color="danger"
              (click)="removeSchedule(id)"
            >
              Gỡ
            </button>
          </mat-expansion-panel>
        </div>
      </ng-template>

      <ng-container
        *ngFor="let schedule of data_selected_edit; index as i"
        [ngTemplateOutlet]="existMovingSchedule"
        [ngTemplateOutletContext]="{
          index: i,
          id: schedule.id,
          placeName: schedule.placeName,
          address: schedule.address,
          singlePrice: schedule.singlePrice,
          supportNumber: schedule.supportNumber,
          startDate: schedule.startDate,
          endDate: schedule.endDate,
          description: schedule.description
        }"
      >
      </ng-container>

      <ng-container
        *ngFor="let schedule of stayingScheduleList; index as i"
        [ngTemplateOutlet]="inputMovingSchedule"
        [ngTemplateOutletContext]="{
          index: i,
          id: schedule.id,
          placeName: schedule.placeName,
          address: schedule.address,
          singlePrice: schedule.singlePrice,
          supportNumber: schedule.supportNumber,
          startDate: schedule.startDate,
          endDate: schedule.endDate,
          description: schedule.description
        }"
      >
      </ng-container>
    </div>

    <div *ngIf="stayingScheduleEdit != null" style="width: 90%; margin-left: auto; margin-right: auto;margin-top: 30px;">
      <form [formGroup]="editStayingFormGroup">
        <div class="row">
          <h4
            mat-form-label
            style="font-weight: bold; text-decoration: underline"
          >
            Chỉnh sửa thông tin lịch trình
          </h4>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Tình trạng</mat-label>
                <select matNativeControl required (change)="changeStatusExist($event)">
                  <option value="0">Mới tạo</option>
                  <option value="1">Đang thực hiện</option>
                  <option value="2">Hoàn thành</option>
                  <option value="2">Hủy</option>
                </select>
              </mat-form-field>
            </div>
            
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Địa chỉ nơi ở</mat-label>
                <input
                  matInput
                  fullwidth
                  placeholder="Vd: Bồ Công Anh"
                  formControlName="address"
                />
              </mat-form-field>
              <app-validation
                *ngIf="isSubmit"
                [formGroup]="editStayingFormGroup"
                [formGroupControlName]="'address'"
              ></app-validation>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Số diện thoại hỗ trợ</mat-label>
                <input
                  matInput
                  fullwidth
                  placeholder="Vd: Bồ Công Anh"
                  formControlName="supportNumber"
                />
              </mat-form-field>
              <app-validation
                *ngIf="isSubmit"
                [formGroup]="editStayingFormGroup"
                [formGroupControlName]="'supportNumber'"
              ></app-validation>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Giá đơn vé trung bình</mat-label>
                <input
                  matInput
                  fullwidth
                  placeholder="Vd: 180.000đ"
                  formControlName="singlePrice"
                />
              </mat-form-field>
              <app-validation
                *ngIf="isSubmit"
                [formGroup]="editStayingFormGroup"
                [formGroupControlName]="'singlePrice'"
              ></app-validation>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Ngày bắt đầu</mat-label>
                <input
                  matInput
                  [ngxMatDatetimePicker]="stayingPicker"
                  placeholder="Choose a date"
                  formControlName="startDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(stayingPicker)"
                ></mat-datepicker-toggle>
                <ngx-mat-datetime-picker
                  #stayingPicker
                  [showSpinners]="true"
                  [showSeconds]="true"
                  [touchUi]="touchUi"
                  [color]="color"
                  [enableMeridian]="enableMeridian"
                >
                </ngx-mat-datetime-picker>
              </mat-form-field>
              <app-validation
                *ngIf="isSubmit"
                [formGroup]="editStayingFormGroup"
                [formGroupControlName]="'startDate'"
              ></app-validation>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Ngày kết thúc</mat-label>
                <input
                  matInput
                  [ngxMatDatetimePicker]="picker"
                  placeholder="Choose a date"
                  formControlName="endDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(picker)"
                ></mat-datepicker-toggle>
                <ngx-mat-datetime-picker
                  #picker
                  [showSpinners]="true"
                  [showSeconds]="true"
                  [touchUi]="touchUi"
                  [color]="color"
                  [enableMeridian]="enableMeridian"
                >
                </ngx-mat-datetime-picker>
              </mat-form-field>
              <app-validation
                *ngIf="isSubmit"
                [formGroup]="editStayingFormGroup"
                [formGroupControlName]="'endDate'"
              ></app-validation>
            </div>
          </div>
        </div>

        <div
          class="row"
          style="display: flex; flex-direction: column !important; flex-wrap: 1"
        >
          <mat-form-field style="width: 90%">
            <textarea
              matInput
              class="form-control"
              id="description"
              placeholder="Thông tin đính kèm"
              formControlName="description"
              rows="10"
            ></textarea>
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="editStayingFormGroup"
            [formGroupControlName]="'description'"
          ></app-validation>
        </div>

        <div
          class="row"
          style="display: flex; flex-direction: row !important; flex-wrap: 1"
        >
          <div style="margin-right: 20px">
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="editToSchedulesList()"
            >
              Lưu
            </button>
          </div>

          <div>
            <button
              mat-raised-button
              color="warn"
              type="button"
              (click)="cancelEditSchedule()"
            >
              Hủy
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
