<div>
  <mat-card style="margin-bottom: 20px; padding: 10px 10px 10px">
    <mat-card-header>
      <mat-card-title>Danh sách tour</mat-card-title>
    </mat-card-header>
    <mat-card-actions>

      <div
      style="
        flex-direction: row;
        align-items: center;
        margin-left: 15px;
        margin-top: 22px !important;
      "
    >
      <mat-form-field appearance="outline" class="full-width-input">
        <input
          #searchInput
          matInput
          type="text"
          fullwidth
          name="search"
          id="search"
          placeholder="Tìm kiếm sản phẩm"
          [(ngModel)]="searchPhase"
        />
      </mat-form-field>
      <button mat-button status="primary" (click)="search()">
        <i
          class="fa fa-search"
          aria-hidden="true"
          style="font-size: 15px"
        ></i>
      </button>
    </div>
    </mat-card-actions>
  </mat-card>

  <div class="table-responsive">
    <table
      mat-table
      [dataSource]="tourishPlanList"
      matSort
      matSort
      class="mat-elevation-z8"
      (matSortChange)="announceSortChange($event)"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by id"
        >
          No.
        </th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/admin/tourishPlanDetail/{{ element.id }}/edit">
            {{ element.id }}</a
          >
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="tourName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by tourName"
        >
          Tên tour
        </th>
        <td mat-cell *matCellDef="let element">{{ element.tourName }}</td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="startingPoint">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by startingPoint"
        >
          Điểm bắt đầu
        </th>
        <td mat-cell *matCellDef="let element">{{ element.startingPoint }}</td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="endPoint">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by endPoint"
        >
          Điểm kết thúc
        </th>
        <td mat-cell *matCellDef="let element">{{ element.endPoint }}</td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="supportNumber">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by supportNumber"
        >
          SĐT
        </th>
        <td mat-cell *matCellDef="let element">{{ element.supportNumber }}</td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="totalTicket">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by totalTicket"
        >
          Tổng vé
        </th>
        <td mat-cell *matCellDef="let element">{{ element.totalTicket }}</td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="remainTicket">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by remainTicket"
        >
          Số vé còn lại
        </th>
        <td mat-cell *matCellDef="let element">{{ element.remainTicket }}</td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="planStatus">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by planStatus"
        >
          Tình trạng
        </th>
        <td mat-cell *matCellDef="let element">{{ element.planStatus }}</td>
      </ng-container>

      <ng-container matColumnDef="createDate">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by createDate"
        >
          Ngày tạo
        </th>
        <td mat-cell *matCellDef="let element">{{ element.createDate }}</td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by startDate"
        >
          Ngày bắt đầu
        </th>
        <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by endDate"
        >
          Ngày kết thúc
        </th>
        <td mat-cell *matCellDef="let element">{{ element.endDate }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="onClickEdit(element.id)">Edit</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button>Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [class.demo-row-is-clicked]=""
      ></tr>
    </table>
  </div>
  <mat-paginator
    [pageSizeOptions]="pageSizeOpstion"
    [length]="length"
    (page)="handlePageEvent($event)"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>

  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      Clicked on {{ clickedRow.name }}
    </li>
  </ul>
</div>
