<div class="container" style="padding: 20px 0 20px">
  <div
    class="outlet"
    style="
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column !important;
      background-color: white;
    "
  >
    <div
      class="row"
      style="
        display: flex;
        flex-direction: column !important;
        flex-wrap: 1;
        padding-left: 90px !important;
        align-items: center;
      "
    >
      <div class="row">
        <h2 mat-form-label style="font-weight: heavy">Đăng kí tài khoản</h2>
      </div>
      <form [formGroup]="createformGroup">
        <mat-stepper [linear]="true" #stepper>
          <mat-step label="Điền tên tài khoản">
            <div class="row" *ngIf="accountMessage !== ''">
              <mat-card style="background-color: #f8d7da">
                <mat-card-content style="color: #b55529"
                  >Tài khoản đã tồn tại</mat-card-content
                >
              </mat-card>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Tài khoản</mat-label>
                <input
                  #accountInput
                  matInput
                  placeholder="Vd: 10"
                  formControlName="userName"
                  required
                />
              </mat-form-field>
              <app-validation
                *ngIf="submited"
                [formGroup]="createformGroup"
                [formGroupControlName]="'userName'"
              ></app-validation>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Tên người dùng</mat-label>
                <input
                  #accountInput
                  matInput
                  placeholder="Vd: Nguyễn Đức Khang"
                  formControlName="fullName"
                  required
                />
              </mat-form-field>
              <app-validation
                *ngIf="submited"
                [formGroup]="createformGroup"
                [formGroupControlName]="'fullName'"
              ></app-validation>
            </div>

            <div>
              <button mat-button matStepperNext [disabled]="!isContinueStep1">
                Tiếp tục
              </button>
            </div>
          </mat-step>

          <mat-step label="Điền thông tin liên lạc">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="Vd: khangVd123@gmail.com"
                  formControlName="email"
                  required
                />
              </mat-form-field>
              <app-validation
                [formGroup]="createformGroup"
                [formGroupControlName]="'email'"
              ></app-validation>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Địa chỉ</mat-label>
                <input
                  matInput
                  placeholder="Vd: số 10 Nguyễn Chí Thanh"
                  formControlName="address"
                  required
                />
              </mat-form-field>
              <app-validation
                [formGroup]="createformGroup"
                [formGroupControlName]="'address'"
              ></app-validation>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Số điện thoại</mat-label>
                <input
                  matInput
                  placeholder="Vd: 012345678"
                  formControlName="phoneNumber"
                  required
                />
              </mat-form-field>
              <app-validation
                [formGroup]="createformGroup"
                [formGroupControlName]="'phoneNumber'"
              ></app-validation>
            </div>

            <div>
              <button mat-button matStepperPrevious>Trước</button>
              <button
                mat-button
                matStepperNext
                [disabled]="
                  this.createformGroup.get('phoneNumber')?.invalid ||
                  this.createformGroup.get('address')?.invalid
                "
              >
                Tiếp tục
              </button>
            </div>
          </mat-step>

          <mat-step label="Điền mật khẩu">
            <div
              class="row"
              *ngIf="createformGroup.errors?.['matchPassword'] &&  !this.createformGroup.get('rePassword')?.invalid"
            >
              <mat-card style="background-color: #f8d7da">
                <mat-card-content style="color: #b55529"
                  >Mật khẩu không khớp</mat-card-content
                >
              </mat-card>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Điền mật khẩu</mat-label>
                <input
                  matInput
                  placeholder="Vd: 10"
                  formControlName="password"
                  required
                />
              </mat-form-field>
              <app-validation
                [formGroup]="createformGroup"
                [formGroupControlName]="'password'"
              ></app-validation>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Điền lại mật khẩu</mat-label>
                <input
                  matInput
                  placeholder="Vd: 10"
                  formControlName="rePassword"
                  required
                />
              </mat-form-field>
              <app-validation
                [formGroup]="createformGroup"
                [formGroupControlName]="'rePassword'"
              ></app-validation>
            </div>
            <div>
              <button mat-button matStepperPrevious>Trước</button>
              <button
                mat-button
                (click)="formSubmit_create_info()"
                [disabled]="
                  this.createformGroup.get('password')?.invalid ||
                  this.createformGroup.get('rePassword')?.invalid || createformGroup.errors?.['matchPassword']
                "
              >
                Tiếp tục
              </button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Hoàn thành</ng-template>
            <p>
              Đăng kí thành công. Vui lòng chờ Admin chấp nhận đăng kí tài khoản
              của bạn.
            </p>
            <div>
              <button mat-button>Quay lại</button>
            </div>
          </mat-step>
        </mat-stepper>
      </form>
    </div>
  </div>
</div>
