.outlet{
    background-color: #FAFAFA;
    padding: 30px 50px 0px;
}

.container {
    background-color: #FFFFFF;
    width: 100%;
}

.edit-form{
   
    padding-top: 20px;
    padding-bottom: 20px;
}
.input-group{
    width: 100% !important; 
    margin-bottom: 0px;
}

.full-width-input {

    margin-top: 20px;
    width: 40% !important;
    min-width: 200px;
    margin-bottom: 0px;
}

.row {
    display: flex;
    flex-direction: column;
}



::ng-deep .mat-mdc-form-field-subscript-wrapper {
    margin-bottom: -1em;
}

mat-error {
    margin-top: -5px;
    margin-bottom: 10px;
}

::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
  }
  
  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
    min-width: 28px !important;
  }
  
  /* Add padding to move the label and input into the center to prevent overlapping the rounded border */
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 32px !important;
  }