<form>
  <mat-form-field
    class="example-chip-list"
    appearance="fill"
    class="full-width"
  >
    <mat-label>Favorite Categorys</mat-label>
    <mat-chip-grid #chipGrid aria-label="Fruit selection">
      <mat-chip-row
        *ngFor="let entity of entityNameList"
        (removed)="remove(entity)"
      >
        {{ entity }}
        <button matChipRemove [attr.aria-label]="'remove ' + entity">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      placeholder="New Category..."
      #entityInput
      [formControl]="entityCtrl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
      (optionsScroll)="onScroll($event)"
    >
      <mat-option
        *ngFor="let entity of data"
        [value]="entity"
        [disabled]="isChecked(entity)"
      >
        <div>
          <div style="font-weight: bold">
            {{ entity.placeBranch }}
            <mat-icon>{{ isChecked(entity) && "checked" }}</mat-icon>
          </div>

          <small>{{ onDisplayAtr(entity) }}</small>
        </div>
      </mat-option>

      <mat-form-field>
        <mat-label>Ngày bắt đầu</mat-label>
        <input
          matInput
          [ngxMatDatetimePicker]="picker"
          placeholder="Choose a date"
          [formControl]="dateStartControl"
        />
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker
          #picker
          [showSpinners]="true"
          [showSeconds]="true"
          [touchUi]="touchUi"
          [color]="color"
          [enableMeridian]="enableMeridian"
        >
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ngày kết thúc</mat-label>
        <input
          matInput
          [ngxMatDatetimePicker]="picker"
          placeholder="Choose a date"
          [formControl]="dateStartControl"
        />
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker
          #picker
          [showSpinners]="true"
          [showSeconds]="true"
          [touchUi]="touchUi"
          [color]="color"
          [enableMeridian]="enableMeridian"
        >
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </mat-autocomplete>
  </mat-form-field>
</form>
