.example-card {
  width: 200px;
  padding: 10px 5px 10px;
}

.example-card:hover {
  border: 2px solid rgb(92, 88, 88);
  left: -2px;
  top: -2px;
}
nb-card-header {
    display: flex;
    justify-content: center !important;
 padding-left: 0 !important;
 padding-right: 0 !important;
}

.example-card img#img_book {
  width: 160px;
  height: 160px;
}

.example-card p#name {
  font-weight: normal;
}

.example-card p#price {
  font-weight: bold;
  color: red !important;
}

.example-card p#price_discount {
  font-weight: bold;
  text-decoration: line-through;
  color: gray !important;
}
