.outlet{
    background-color: #FAFAFA;
    padding: 30px 50px 0px;
}

.edit-form{
   
    padding-top: 20px;
    padding-bottom: 20px;
}
.input-group{
    width: 100% !important; 
}

.full-width-input {
    width: 80% !important;
}

mat-error {
    margin-top: -5px;
    margin-bottom: 10px;
}