<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nb-card class="signInForm" size="small" style="height: fit-content;">
  <nb-card-header style="justify-content: center">
    <h2 style="color: black; font-size: 24px"><i class="fa fa-ban" aria-hidden="true" style="color: red"></i> {{title}}</h2>
  </nb-card-header>

    <nb-card-body>
      <div class="row" style="margin-bottom: 20px"> 
        <h3 style="color: black; font-size: 16px; margin-bottom: 0">
          {{content}}
        </h3>       
      </div>
    </nb-card-body>
</nb-card>
