* {
  box-sizing: border-box;
}
.signInForm {
  background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center
    center no-repeat;
  background-size: 100% 100%;
  padding: 10px 50px 10px;
  height: 360px;
  width: 320px;
}

.signInForm input {
  font-weight: 700 !important;
  line-height: 1rem !important;
  padding: 0.9375rem 0.5rem !important;
}

.mat .signInForm .signInAction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: "center";
  left: auto;
  right: auto;
}

.signInForm .signInAction button#sign_in {
  margin-right: 10px;
}

.input-full-width {
  width: 100%;
}
h3.error-message {
  font-size: 14px !important;
  color: whitesmoke;
  word-wrap: break-word;
  padding: 0px 12px 0px;
}
