<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>

<nb-card class="signInForm" size="large">
  <nb-card-header>
    <h2 style="color: whitesmoke">Đăng nhập</h2>
    <h3 class="error-message">{{ errorMessage }}</h3></nb-card-header
  >

  <form (ngSubmit)="formSubmit()" [formGroup]="signInformGroup">
    <nb-card-body>
      <div class="row" style="margin-bottom: 20px;">
        <h3 style="color: whitesmoke">Tài khoản</h3>
        <input
          nbInput
          fullWidth
          status="info"
          shape="round"
          fieldSize="giant"
          type="text"
          id="userName"
          placeholder="Tài khoản"
          formControlName="userName"
        />
      </div>
      <div class="row">
        <h3 style="color: whitesmoke">Mật khẩu</h3>
        <input
          nbInput
          fullWidth
          status="info"
          shape="round"
          fieldSize="giant"
          type="password"
          id="password"
          placeholder="Mật khẩu"
          formControlName="password"
        />
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="signInAction">
        <button nbButton type="submit" id="sign_in" status="success">
          <span>Đăng nhập</span>
        </button>
        <button type="button" color="accent" id="escape" (click)="onNoClick()">
          <span>Thoát</span>
        </button>
      </div></nb-card-footer
    >
  </form>
</nb-card>
