<div class="container" style="padding: 20px 0 20px">
  <div
    class="outlet"
    style="
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column !important;
      background-color: white;
    "
  >
    <div
      class="row"
      style="
        display: flex;
        flex-direction: column !important;
        flex-wrap: 1;
        padding-left: 90px !important;
      "
    >
      <div class="row">
        <h2 mat-form-label style="font-weight: heavy">Thêm thông tin Tour</h2>
      </div>

      <form [formGroup]="editformGroup_info">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
            <div class="row" style="margin-bottom: 1rem">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Tên tour</mat-label>
                <input
                  matInput
                  fullwidth
                  placeholder="Vd: Bồ Công Anh"
                  formControlName="tourName"
                />
              </mat-form-field>

              <div style="margin-top: -20px; margin-bottom: 10px">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('tourName')?.errors &&
                    (editformGroup_info.get('tourName')?.touched || isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'tourName'"
                ></app-validation>
              </div>
            </div>

            <div class="row" style="margin-bottom: 1rem">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Điểm xuất phát</mat-label>
                <input
                  matInput
                  placeholder="Vd: Hà Nội"
                  formControlName="startingPoint"
                />
              </mat-form-field>
              <div style="margin-top: -20px; margin-bottom: 10px">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('startingPoint')?.errors &&
                    (editformGroup_info.get('startingPoint')?.touched ||
                      isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'startingPoint'"
                ></app-validation>
              </div>
            </div>

            <div class="row" style="margin-bottom: 1rem">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Điểm kết thúc</mat-label>
                <input
                  matInput
                  placeholder="Đà Nẵng"
                  formControlName="endingPoint"
                />
              </mat-form-field>
              <div style="margin-top: -20px; margin-bottom: 10px">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('endingPoint')?.errors &&
                    (editformGroup_info.get('endingPoint')?.touched || isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'endingPoint'"
                ></app-validation>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
            <div class="row" style="margin-bottom: 1rem">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Số điện thoại hỗ trợ</mat-label>
                <input
                  matInput
                  placeholder="VD: 0354324599"
                  formControlName="supportNumber"
                />
              </mat-form-field>
              <div style="margin-top: -20px; margin-bottom: 10px">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('supportNumber')?.errors &&
                    (editformGroup_info.get('supportNumber')?.touched ||
                      isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'supportNumber'"
                ></app-validation>
              </div>
            </div>

            <div class="row" style="margin-bottom: 1rem">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Tổng số vé</mat-label>
                <input
                  matInput
                  placeholder="Vd: 10"
                  formControlName="totalTicket"
                />
              </mat-form-field>
              <div style="margin-top: -20px; margin-bottom: 10px">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('totalTicket')?.errors &&
                    (editformGroup_info.get('totalTicket')?.touched || isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'totalTicket'"
                ></app-validation>
              </div>
            </div>

            <div class="row" style="margin-bottom: 1rem">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Số vé còn lại</mat-label>
                <input
                  matInput
                  placeholder="Vd: 2"
                  formControlName="remainTicket"
                />
              </mat-form-field>
              <div style="margin-top: -20px; margin-bottom: 10px">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('remainTicket')?.errors &&
                    (editformGroup_info.get('remainTicket')?.touched ||
                      isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'remainTicket'"
                ></app-validation>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
            <div class="row" style="margin-bottom: 1rem">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Ngày bắt đầu</mat-label>
                <input
                  matInput
                  [ngxMatDatetimePicker]="picker1"
                  placeholder="Choose a date"
                  formControlName="startDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(picker1)"
                ></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker1> </ngx-mat-datetime-picker>
              </mat-form-field>

              <div style="margin-top: -20px; margin-bottom: 10px">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('startDate')?.errors &&
                    (editformGroup_info.get('startDate')?.touched || isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'startDate'"
                ></app-validation>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
            <div class="row" style="margin-bottom: 1rem">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Ngày kết thúc</mat-label>
                <input
                  matInput
                  [ngxMatDatetimePicker]="picker2"
                  placeholder="Choose a date"
                  formControlName="endDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(picker2)"
                ></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker2> </ngx-mat-datetime-picker>
              </mat-form-field>

              <div style="margin-top: -20px; margin-bottom: 10px">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('endDate')?.errors &&
                    (editformGroup_info.get('endDate')?.touched || isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'endDate'"
                ></app-validation>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
            <div class="row" style="margin-bottom: 1rem">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Trạng thái tour</mat-label>
                <select matNativeControl required>
                  <option value="0">Chờ</option>
                  <option value="1">Thông tin đã xác định</option>
                  <option value="2">Đã thanh toán toàn bộ</option>
                  <option value="3">Đang diễn ra</option>
                  <option value="4">Hoàn thành</option>
                  <option value="5">Hủy bỏ</option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div
          class="row"
          style="display: flex; flex-direction: column !important; flex-wrap: 1"
        >
          <mat-form-field style="width: 90%">
            <textarea
              matInput
              class="form-control"
              id="description"
              placeholder="Thông tin đính kèm"
              formControlName="description"
              rows="10"
            ></textarea>
          </mat-form-field>
          <div style="margin-top: -20px; margin-bottom: 10px">
            <app-validation
              *ngIf="
                this.editformGroup_info.get('description')?.errors &&
                (editformGroup_info.get('description')?.touched || isSubmitted)
              "
              [formGroup]="editformGroup_info"
              [formGroupControlName]="'description'"
            ></app-validation>
          </div>
        </div>
        <div
          class="row"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid #696868;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 93%;
          "
        ></div>

        <staying-multiselect-autocomplete
          [data_selected]="tourishPlan.stayingSchedules ?? []"
          (result)="selectChangeStaying($event)"
        >
        </staying-multiselect-autocomplete>

        <div
          class="row"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid #696868;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 93%;
          "
        ></div>

        <moving-multiselect-autocomplete
          [data_selected]="tourishPlan.movingSchedules ?? []"
          (result)="selectChangeMoving($event)"
        >
        </moving-multiselect-autocomplete>

        <div
          class="row"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid #696868;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 93%;
          "
        ></div>

        <eating-multiselect-autocomplete
          [data_selected]="tourishPlan.eatSchedules ?? []"
          (result)="selectChangeEating($event)"
        >
        </eating-multiselect-autocomplete>

        <div
          class="row"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid #696868;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 93%;
          "
        ></div>

        <div
          class="row"
          style="display: flex; flex-direction: row !important; flex-wrap: 1"
        >
          <div style="margin-right: 20px">
            <button
              mat-raised-button
              color="primary"
              (click)="formSubmit_create_info()"
            >
              Lưu
            </button>
          </div>

          <div>
            <button
              mat-raised-button
              color="warn"
              type="button"
              (click)="formReset_create_info()"
            >
              Khôi phục
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
