.container-fluid {
  display: flex;
  flex-direction: row !important;
  background-color: white;

  flex-wrap: wrap;

  opacity: 0.95;
  margin-left: 0;
  margin-right: 0 !important;
  top: 0;

  align-items: center;

  padding-bottom: 40px;

  padding-top: 40px;

  border: 0.2px solid rgb(184, 183, 183);
  border-radius: 1%;
}

.container-fluid-info {
    display: flex;
    flex-direction: row !important;
    background-color: white;
  
    flex-wrap: wrap;
  
    opacity: 0.95;
    margin-left: 0;
    margin-right: 0 !important;
    top: 0;
  
    align-items: center;
  
    padding: 10px 20px 10px;
  
    border: 0.2px solid rgb(184, 183, 183);
    border-radius: 1%;
  }

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.product-image {
  display: block !important;
  height: fit-content;
  width: 500px !important;
}

.product-image img {
  display: block;
  height: fit-content;
  max-width: 500px;
  max-height: 500px;
}

.product-panel {
  display: block;
  flex-grow: 1;
}

.example-card p#price {
  font-weight: bold;
  color: red !important;
}

.example-card p#price_discount {
  font-weight: bold;
  text-decoration: line-through;
  color: gray !important;
}

p.nl2br {
    padding: 10px;
    white-space: pre-line;
  }
