<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>

<div class="site-footer" #footerEle>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h6 style="font-family: Lucida Handwriting">About</h6>
      <p class="text-justify">Trang quản lý du lịch Roxanne</p>
    </div>
    <div class="col-xs-6 col-md-3">
      <h6 style="font-family: Lucida Handwriting">Categories</h6>
      <ul class="footer-links">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="col-xs-6 col-md-3">
      <h6 style="font-family: Lucida Handwriting">Contact</h6>
      <ul class="footer-links">
        <li>
          <h4>Phone number: 0354324599</h4>
        </li>
        <li>
          <h4>Email: dochu8@gmail.com</h4>
        </li>
      </ul>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
      <p class="copyright-text" style="font-style: italic">
        Copyright © 2022 All Rights Reserved by <a href="#">Chu Do</a>.
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <ul class="social-icons">
        <li>
          <a class="facebook" href="https://www.facebook.com/wheremybrain">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a class="twitter" href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a class="dribbble" href="#">
            <i class="fa fa-dribbble"></i>
          </a>
        </li>
        <li>
          <a class="linkedin" href="#">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
