
* {
  box-sizing: border-box;
  font-family: Helvetica;
}

.container-fluid {
  padding: 0.5% 11% 1%;
  background-color: #282c34 !important;
  opacity: 0.95;
  margin-left: 0;
  margin-right: 0 !important;
  width: 100%;
  position: relative;
  top: 0;
  padding-bottom: 8px;
}

img.img-logo {
  max-width: 50px;
  max-height: 50px;
}

.container .row img {
  position: absolute;
  margin-top: -5px;
  width: 40px;
  height: 40px;
  border-radius: 100% !important;
  border: 2px solid rgb(90, 87, 119);
}

.container .row img:hover {
  margin-top: -10px;
  margin-right: -5px;
  position: absolute;
  width: 50px !important;
  height: 50px !important;
  border-radius: 100% !important;
  border: 3px solid rgb(15, 116, 45);
}

img.img-logo {
  max-width: 50px;
  max-height: 50px;
}

ul li a {
  font-weight: bold;
  color: whitesmoke;
}

ul {
  padding-top: 8px;
}

ul li a:hover {
  font-weight: bold;
  color: #3f51b5;
}

#log-button-group {
  display: flex;
  padding-right: 20px;
  flex-direction: row-reverse;
  padding-bottom: 20px;
}

#avatar {
  border: 3px solid rgb(15, 116, 45);
  border-radius: 100% !important;
  position: absolute;
  top: -6px;
  right: 26px;
}

#avatar:hover {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100% !important;
  position: absolute;
  border: 3px solid rgb(15, 116, 45);
  top: -8px;
  right: 24px;
}
