<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
  <div class="row justify-content-start align-items-center g-2">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <!-- Nav tabs -->
      <ul class="nav">
        <li class="nav-item">
          <img src="../../../assets/book_logo.png" class="img-logo" />
        </li>
        <li class="nav-item">
          <div class="form-group">
            <div
              class="col-xs-5 col-sm-12 col-md-12 col-lg-12"
              style="margin-top: 8px"
            >
              <form (ngSubmit)="formSubmit()" [formGroup]="searchFormGroup">
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-10 col-lg-10">
                      <input
                        type="text"
                        class="form-control"
                        name="search"
                        id="search"
                        aria-describedby="helpId"
                        placeholder="Tìm kiếm"
                      />
                    </div>

                    <div class="col-xs-5 col-sm-5 col-md-2 col-lg-2">
                      <button type="button" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </li>
      </ul>

      <mat-menu #appMenu="matMenu">
        <ng-template matMenuContent let-name="name">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Log off {{ name }}</button>
        </ng-template>
      </mat-menu>
    </div>
    <div class="col">
      <div class="row" id="log-button-group">
        <img
          mat-card-image
          id="avatar"
          src="https://bookstore1storage.blob.core.windows.net/1-container/1_29baea6a-d986-4fc2-2e10-08dbb1d9670e.jpg"
          width="50px"
          height="50px"
          [matMenuTriggerFor]="menu"
        />
      </div>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Thông tin tài khoản</button>
        <button mat-menu-item (click)="signOut()">Đăng xuất</button>
      </mat-menu>
    </div>
  </div>

  <div class="row justify-content-start align-items-center g-2">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <!-- Nav tabs -->
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="#">Home</a>
        </li>

        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              style="color: azure"
              ngbDropdownToggle
            >
              Book
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a routerLink="/admin/book/list" mat-menu-item>Book list</a>
              <a routerLink="/admin/book/create" mat-menu-item>New book</a>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin/author/list"
            >Author list</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin/publisher/list"
            >Publisher list</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin/category/list"
            >Category list</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin/voucher/list"
            >Voucher list</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin/notification/list"
            >Notification list</a
          >
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              style="color: azure"
              ngbDropdownToggle
            >
              Toggle dropdown
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a routerLink="/admin/category/list" mat-menu-item
                >Category list</a
              >
              <a routerLink="/admin/category/list" mat-menu-item
                >New Category</a
              >
            </div>
          </div>
        </li>      
      </ul>
    </div>
  </div>
</div>
