* {
  box-sizing: border-box;
  font-family: Helvetica;
}

.container-fluid {
  display: flex;
  flex-direction: row !important;

  flex-wrap: wrap;

  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  transition: 0.5s !important;
  opacity: 1;
  top: 0;
  padding-bottom: 8px;
}

.container-fluid::after {
  content: "";
  clear: both;
  display: table;
}

.container-fluid div:not(.sidenav) {
  padding-right: 20px !important;
}

img.img-logo {
  max-width: 50px;
  max-height: 50px;
}

.searchInput {
  width: 700px !important;
}

.container .row img {
  position: absolute;
  margin-top: -5px;
  width: 40px;
  height: 40px;
  border-radius: 100% !important;
  border: 2px solid rgb(90, 87, 119);
}

.container .row img:hover {
  margin-top: -10px;
  margin-right: -5px;
  position: absolute;
  width: 50px !important;
  height: 50px !important;
  border-radius: 100% !important;
  border: 3px solid rgb(15, 116, 45);
}

img.img-logo {
  max-width: 50px;
  max-height: 50px;
}

.sidenav {
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  width: 340px;
  position: fixed;
  z-index: 1;
  top: 25px;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden !important;
  transition: 0.5s;
  flex-direction: column;

  overflow-y: auto;

  display: flex;
  align-items: center;
  flex-grow: 0;
  opacity: 1;

  margin-top: 10px;

  margin-bottom: 20px;

  border-end-end-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidenav .sideNavContent .sidenavCategory {
  width: 100%;
  flex-direction: column;
  display: flex;
  overflow-x: hidden !important;
  margin-bottom: 15px;
  border-bottom: 3px solid #696868;
}

.sidenav .sideNavContent .sidenavCategory:first-child {
  border-top: 3px solid #696868;
}

.autocomplete-search {
  height: 0%;
  width: 70%;
  position: absolute;
  z-index: 1;
  top: 50px;
  background-color: #ffffff;
  overflow-y: hidden;
  transition: 0.5s;
  flex-direction: column;

  display: flex;

  opacity: 1;

  margin-top: 10px;

  justify-content: center;
  align-items: center;

  border-end-end-radius: 20px;
  border-bottom-left-radius: 20px;
}

.autocomplete-search .searchContent {
  flex-direction: row;
  display: flex;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #727889;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.full-width-input {
  width: 95% !important;
}

button {
  font-size: 16px;
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
  min-width: 28px !important;
}

/* Add padding to move the label and input into the center to prevent overlapping the rounded border */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 32px !important;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-height: 650px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
