<div class="container-fluid">
  <div class="row justify-content-start align-items-center g-2">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <!-- Nav tabs -->
      <ul class="nav">
        <li class="nav-item">
          <img src="../../../assets/book_logo.png" class="img-logo" />
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Book list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin/category/list"
            >Category list</a
          >
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              style="color: azure"
              ngbDropdownToggle
            >
              Toggle dropdown
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a href="/admin/category/list" mat-menu-item>Category list</a>
              <a href="/admin/category/list" mat-menu-item>New Category</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <button
            [matMenuTriggerFor]="appMenu"
            [matMenuTriggerData]="{ name: 'Bob' }"
          >
            Menu
          </button>
        </li>
      </ul>
      <mat-menu #appMenu="matMenu">
        <ng-template matMenuContent let-name="name">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Log off {{ name }}</button>
        </ng-template>
      </mat-menu>
    </div>
    <div class="col">
      <div class="row" id="log-button-group">
        <img
          mat-card-image
          id="avatar"
          src="/api/img/user/{{ id }}/avatar/avatar_this.png"
          width="40px"
          height="40px"
        />
      </div>
    </div>
  </div>
</div>
