<div [formGroup]="movingFormGroup">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
      <div class="row">
        <h2
          mat-form-label
          style="font-weight: heavy; font-size: 16px; margin-bottom: 0px"
        >
          Thêm thông tin lịnh trình di chuyển
        </h2>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Loại phương tiện</mat-label>
          <select matNativeControl required (change)="changeType($event)">
            <option value="0">Xe khách</option>
            <option value="1">Máy bay</option>
          </select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field
          class="example-chip-list"
          appearance="outline"
          class="full-width-input"
        >
          <mat-label>Danh sách lịch trình nơi ở</mat-label>
          <mat-chip-grid #chipGrid aria-label="Fruit selection">
            <mat-chip-row
              *ngFor="let moving of movingNameList"
              (removed)="remove(moving)"
              style="font-size: 16px"
            >
              {{ moving }}
              <button matChipRemove [attr.aria-label]="'remove ' + moving">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>

          <input
            *ngIf="movingNameList.length < 1"
            placeholder="New Category..."
            #movingInput
            [formControl]="movingCtrl"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
          />

          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
            (optionsScroll)="onScroll($event)"
          >
            <mat-option
              *ngFor="let moving of data"
              [value]="moving"
              [disabled]="isChecked(moving)"
            >
              <div>
                <div style="font-weight: bold">
                  {{ moving.branchName }}
                  <mat-icon>{{ isChecked(moving) && "checked" }}</mat-icon>
                </div>

                <small>{{ onDisplayAtr(moving) }}</small>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div *ngIf="movingNameList.length >= 1">
        <div class="row">
          <h4
            mat-form-label
            style="font-weight: bold; text-decoration: underline"
          >
            Thêm thông tin nơi ở
          </h4>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Tên lái xe</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: Bồ Công Anh"
              formControlName="driverName"
            />
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="movingFormGroup"
            [formGroupControlName]="'driverName'"
          ></app-validation>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Biển số xe</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: (98Y50452)"
              formControlName="vehiclePlate"
            />
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="movingFormGroup"
            [formGroupControlName]="'vehiclePlate'"
          ></app-validation>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Số diện thoại hỗ trợ</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: 012312342"
              formControlName="phoneNumber"
            />
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="movingFormGroup"
            [formGroupControlName]="'phoneNumber'"
          ></app-validation>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Giá đơn vé trung bình</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: 180.000đ"
              formControlName="singlePrice"
            />
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="movingFormGroup"
            [formGroupControlName]="'singlePrice'"
          ></app-validation>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Nơi xuất phát</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: Hà Nội"
              formControlName="startingPlace"
            />
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="movingFormGroup"
            [formGroupControlName]="'singlePrice'"
          ></app-validation>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Nơi đến</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: Đà Nẵng"
              formControlName="headingPlace"
            />
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="movingFormGroup"
            [formGroupControlName]="'singlePrice'"
          ></app-validation>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Ngày bắt đầu</mat-label>
            <input
              matInput
              [ngxMatDatetimePicker]="movingPicker"
              placeholder="Choose a date"
              formControlName="startDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="$any(movingPicker)"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #movingPicker
              [showSpinners]="true"
              [showSeconds]="true"
              [touchUi]="touchUi"
              [color]="color"
              [enableMeridian]="enableMeridian"
            >
            </ngx-mat-datetime-picker>
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="movingFormGroup"
            [formGroupControlName]="'startDate'"
          ></app-validation>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Ngày kết thúc</mat-label>
            <input
              matInput
              [ngxMatDatetimePicker]="picker"
              placeholder="Choose a date"
              formControlName="endDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="$any(picker)"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #picker
              [showSpinners]="true"
              [showSeconds]="true"
              [touchUi]="touchUi"
              [color]="color"
              [enableMeridian]="enableMeridian"
            >
            </ngx-mat-datetime-picker>
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="movingFormGroup"
            [formGroupControlName]="'endDate'"
          ></app-validation>
        </div>

        <div
          class="row"
          style="display: flex; flex-direction: column !important; flex-wrap: 1"
        >
          <mat-form-field style="width: 80%">
            <textarea
              matInput
              class="form-control"
              id="description"
              placeholder="Thông tin đính kèm"
              formControlName="description"
              rows="10"
            ></textarea>
          </mat-form-field>
          <app-validation
            *ngIf="isSubmit"
            [formGroup]="movingFormGroup"
            [formGroupControlName]="'description'"
          ></app-validation>
        </div>

        <div
          class="row"
          style="display: flex; flex-direction: row !important; flex-wrap: 1"
        >
          <div style="margin-right: 20px">
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="addToSchedule()"
            >
              Thêm
            </button>
          </div>

          <div>
            <button
              mat-raised-button
              color="warn"
              type="button"
              (click)="this.formReset()"
            >
              Khôi phục
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
      <div class="row">
        <h2
          mat-form-label
          style="font-weight: heavy; font-size: 16px; margin-bottom: 0px"
        >
          Danh sách lịch trình nơi ở
        </h2>
      </div>

      <div
        class="row"
        *ngIf="movingScheduleList.length < 1 && data_selected.length < 1"
      >
        <mat-chip color="warn" style="font-size: 16px"
          >Chưa có danh sách</mat-chip
        >
      </div>
      <ng-template
        #inputMovingSchedule
        let-index="index"
        let-id="id"
        let-driverName="driverName"
        let-vehiclePlate="vehiclePlate"
        let-phoneNumber="phoneNumber"
        let-singlePrice="singlePrice"
        let-startDate="startDate"
        let-endDate="endDate"
        let-description="description"
      >
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
          "
        >
          <mat-expansion-panel
            [expanded]="false"
            style="width: 65%; margin-right: 10px"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Lịch trình {{ index + 1 }}</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <span style="font-weight: bold">Tên lái xe: </span>
              {{ driverName }}
            </p>
            <p>
              <span style="font-weight: bold">Biển số xe:</span>
              {{ vehiclePlate }}
            </p>
            <p>
              <span style="font-weight: bold">SĐT hỗ trợ:</span>
              {{ phoneNumber }}
            </p>
            <p>
              <span style="font-weight: bold">Giá đơn:</span>
              {{ singlePrice }}
            </p>
            <p>
              <span style="font-weight: bold">Ngày bắt đầu:</span>
              {{ startDate }}
            </p>
            <p>
              <span style="font-weight: bold">Ngày kết thúc:</span>
              {{ endDate }}
            </p>
          </mat-expansion-panel>
          <button
            mat-raised-button
            color="primary"
            (click)="removeSchedule(id)"
          >
            Gỡ
          </button>
        </div>
      </ng-template>

      <ng-template
        #existMovingSchedule
        let-index="index"
        let-id="id"
        let-driverName="driverName"
        let-vehiclePlate="vehiclePlate"
        let-phoneNumber="phoneNumber"
        let-singlePrice="singlePrice"
        let-startDate="startDate"
        let-endDate="endDate"
        let-description="description"
      >
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
          "
        >
          <mat-expansion-panel
            [expanded]="false"
            style="width: 65%; margin-right: 10px"
          >
            <mat-expansion-panel-header>
              <mat-panel-title style="color: green;">
                Lịch trình {{ index + 1 }} <i class="fa fa-check" style="margin-left: 5px;" aria-hidden="true"></i
              ></mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <span style="font-weight: bold">Tên lái xe: </span>
              {{ driverName }}
            </p>
            <p>
              <span style="font-weight: bold">Biển số xe:</span>
              {{ vehiclePlate }}
            </p>
            <p>
              <span style="font-weight: bold">SĐT hỗ trợ:</span>
              {{ phoneNumber }}
            </p>
            <p>
              <span style="font-weight: bold">Giá đơn:</span>
              {{ singlePrice }}
            </p>
            <p>
              <span style="font-weight: bold">Ngày bắt đầu:</span>
              {{ startDate }}
            </p>
            <p>
              <span style="font-weight: bold">Ngày kết thúc:</span>
              {{ endDate }}
            </p>
          </mat-expansion-panel>
          <button
            mat-raised-button
            color="primary"
            (click)="removeSchedule(id)"
          >
            Gỡ
          </button>
        </div>
      </ng-template>

      <ng-container
        *ngFor="let schedule of data_selected; index as i"
        [ngTemplateOutlet]="existMovingSchedule"
        [ngTemplateOutletContext]="{
          index: i,
          id: schedule.id,
          driverName: schedule.driverName,
          vehiclePlate: schedule.vehiclePlate,
          singlePrice: schedule.singlePrice,
          phoneNumber: schedule.phoneNumber,
          startDate: schedule.startDate,
          endDate: schedule.endDate,
          description: schedule.description
        }"
      >
      </ng-container>

      <ng-container
        *ngFor="let schedule of movingScheduleList; index as i"
        [ngTemplateOutlet]="inputMovingSchedule"
        [ngTemplateOutletContext]="{
          index: i,
          id: schedule.id,
          driverName: schedule.driverName,
          vehiclePlate: schedule.vehiclePlate,
          singlePrice: schedule.singlePrice,
          phoneNumber: schedule.phoneNumber,
          startDate: schedule.startDate,
          endDate: schedule.endDate,
          description: schedule.description
        }"
      >
      </ng-container>
    </div>
  </div>
</div>
