<div style="display: flex; flex-direction: row">
  <div class="container-fluid-search">

    <div *ngIf="searchQuery !== ''">
      <h6 style="font-size: 16px; padding-bottom: 0 !important">Từ khóa tìm kiếm</h6>
      <p style="margin-left: 10px">
        <nb-tag removable [text]="searchQuery" (remove)="emptySearch()"></nb-tag>
      </p>
    </div>

    <hr class="solid" *ngIf="searchQuery !== ''"/>

    <div>
      <h6 style="font-size: 16px; padding-bottom: 0 !important">Thể loại</h6>
      <nb-radio-group [(ngModel)]="categorySelectString" name="ng-model-group">
        <nb-radio *ngFor="let category of categoryList" [value]="category.name">
          {{ getCategoryPhase(category.name) }}
        </nb-radio>
      </nb-radio-group>
    </div>

    <hr class="solid" />

    <div>
      <h6 style="font-size: 16px; padding-bottom: 0 !important">Giá</h6>

      <p *ngFor="let price of priceRange" style="margin-left: 10px">
        <nb-checkbox
          (checkedChange)="priceRangeChange($event, price.from, price.to)"
          >{{ price.title }}</nb-checkbox
        >
      </p>
    </div>

    <hr class="solid" />

    <div>
      <h6 style="font-size: 16px; padding-bottom: 0 !important">
        Nhà xuất bản
      </h6>
      <p *ngFor="let publisher of publisherList" style="margin-left: 10px">
        <nb-checkbox
          (checkedChange)="
            publisherCheckChange($event, publisher.publisherName)
          "
          >{{ publisher.publisherName }}</nb-checkbox
        >
      </p>
    </div>

    <hr class="solid" />

    <div>
      <h6 style="font-size: 16px; padding-bottom: 0 !important">Tác giả</h6>
      <p *ngFor="let author of authorList" style="margin-left: 10px">
        <nb-checkbox (checkedChange)="authorCheckChange($event, author.name)">{{
          author.name
        }}</nb-checkbox>
      </p>
    </div>

    <hr class="solid" />

    <div>
      <h6 style="font-size: 16px; padding-bottom: 0 !important">
        Hình thức bìa
      </h6>
      <p style="margin-left: 10px"><nb-checkbox>Bìa cứng</nb-checkbox></p>
      <p style="margin-left: 10px"><nb-checkbox>Bìa mềm</nb-checkbox></p>
    </div>

    <hr class="solid" />
  </div>

  <app-bookSearch
    [category]="categorySelectString"
    [title]="categorySelectString"
    [titleColor]="'basic'"
    [authorList]="authorSelectString"
    [publisherList]="publisherSelectString"
    [priceFrom]="priceFrom"
    [priceTo]="priceTo"
    [search]="searchQuery"
    style="flex-grow: 1"
  ></app-bookSearch>
</div>
