<nb-card status="danger">
  <div class="container-fluid">
    <div class="product-image">
      <img src="{{ urlListOld[0] }}" alt="Photo" />
    </div>
    <div class="product-panel">
      <h5>{{ book.title }}</h5>
      <div class="row" style="padding: 0 10px 0">
        <div class="column">
          <div class="row">
            <span
              >Nhà xuất bản:
              <h6 style="font-size: 16px; color: #24a9f8">
                {{ book.publisher?.publisherName ?? "" }}
              </h6></span
            >
          </div>

          <div class="row">
            <span
              >Bìa:
              <h6 style="font-size: 16px; color: #24a9f8">
                {{ getCoverMaterialPhase(book.coverMaterial) }}
              </h6></span
            >
          </div>
        </div>

        <div class="column">
          <div class="row">
            <span
              >Tác giả:
              <h6
                *ngFor="let authorOne of book.bookAuthors"
                style="font-size: 16px; color: #24a9f8"
              >
                {{ authorOne.author.name }}
              </h6></span
            >
          </div>

          <div class="row">
            <span
              >Thể loại:
              <h6
                *ngFor="let categoryOne of book.bookCategories"
                style="font-size: 16px; color: #24a9f8"
              >
                {{ categoryOne.category.name }}
              </h6></span
            >
          </div>
        </div>
      </div>

      <div class="row" style="padding: 0 10px 0">
        <h5
          *ngIf="discountFloat > 0"
          style="
            display: flex;
            align-items: center !important;
            font-size: 24px;
            padding-bottom: 0px;
            color: red;
          "
        >
          {{ book.bookStatus.currentPrice * (1 - discountFloat) + " đ" + " " }}
          <nb-tag
            style="margin-left: 10px"
            appearance="outline"
            status="danger"
            [text]="generateDiscount(discountFloat)"
          ></nb-tag>
        </h5>
        <h5
          *ngIf="discountFloat > 0"
          style="font-size: 16px; text-decoration-line: line-through"
        >
          {{ book.bookStatus.currentPrice }} đ
        </h5>
        <h5 *ngIf="discountFloat == 0" style="font-size: 24px; color: red">
          {{ book.bookStatus.currentPrice }} đ
        </h5>
      </div>

      <div class="row" style="padding: 0 10px 0">
        <span style="font-weight: bold"
          >Số lượng:
          <input type="number" nbInput shape="semi-round" placeholder="0-99"
        /></span>
      </div>

      <div class="row" style="padding: 0 10px 0; margin-top: 10px">
        <div class="column">
          <span
            >Thời gian giao hàng:
            <h6
              *ngFor="let authorOne of book.bookAuthors"
              style="font-size: 16px"
            >
              Từ 2-3 ngày
            </h6></span
          >

          <span
            >Chính sách giao hàng:
            <h6
              *ngFor="let categoryOne of book.bookCategories"
              style="font-size: 16px"
            >
              Xem
            </h6></span
          >
        </div>
      </div>

      <div class="row" style="padding: 0 10px 0">
        <button
          nbButton
          shape="semi-round"
          status="success"
          style="margin-right: 20px"
        >
          Thêm vào giỏ hàng
        </button>
        <button nbButton shape="semi-round" status="danger">Mua ngay</button>
      </div>
    </div>
  </div>
</nb-card>

<nb-card status="danger">
  <div class="container-fluid-info">
    <nb-tabset>
      <nb-tab tabTitle="Miêu tả">
        <p class="nl2br">{{ book.description }}</p>
      </nb-tab>
      <nb-tab tabTitle="Thông tin tác giả">
        <p>
          <span>
            <h6
              *ngFor="let authorOne of book.bookAuthors"
              style="font-size: 16px; color: #24a9f8"
            >
              {{ authorOne.author.name }}
            </h6></span
          >
        </p>
      </nb-tab>
    </nb-tabset>
  </div>
</nb-card>

<app-bookCategory
  [category]="'Novel'"
  [title]="'Cùng thể loại: Tiểu thuyết'"
  [titleColor]="'primary'"
></app-bookCategory>
