<div style="width: 100% !important">
  <mat-card style="margin-bottom: 20px; padding: 10px 10px 10px">
    <mat-card-header>
      <mat-card-title>Danh sách hóa đơn</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button (click)="openAddDialog()" class="demo-button">
        Thêm đối tác
      </button>
    </mat-card-actions>
  </mat-card>

  <div class="outlet" style="
      width: 100%;
      flex-direction: column !important;
      background-color: white;
      padding-top: 2%;
      padding-left: 2%;
    ">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <tourishPlan-multiselect-autocomplete (result)="selectChangeReceipt($event)">
        </tourishPlan-multiselect-autocomplete>
      </div>
    </div>
  </div>

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" (activeIdChange)="tourStatusChange()" class="nav-tabs"
    style="margin-bottom: 20px">
    <li [ngbNavItem]="0">
      <button ngbNavLink>Tour mới tạo</button>
    </li>
    <li [ngbNavItem]="1">
      <button ngbNavLink>Tour đang hoạt động</button>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>Tour đã hoàn thành</button>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink>Tour hủy</button>
    </li>
  </ul>

  <div class="table-responsive">
    <table mat-table [dataSource]="receiptList" matSort class="mat-elevation-z8"
      (matSortChange)="announceSortChange($event)" multiTemplateDataRows>
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
          No.
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="tourName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tourName">
          Tên tour
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tourishPlan.tourName }}
        </td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="singlePrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Giá đơn vé
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getTotalPrice(element.tourishPlan) }}
        </td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="totalTicketAll">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by totalTicketAll">
          Tổng số vé
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tourishPlan.totalTicket }}
        </td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="remainTicket">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by remainTicket">
          Số vé còn lại
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tourishPlan.remainTicket }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by createDate">
          Ngày tạo
        </th>
        <td mat-cell *matCellDef="let element">{{ element.createdDate }}</td>
      </ng-container>

      <ng-container matColumnDef="completeDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by completeDate">
          Ngày kêt thúc
        </th>
        <td mat-cell *matCellDef="let element">{{ element.completeDate }}</td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row" (click)="
              expandedElement = expandedElement === element ? null : element;
              $event.stopPropagation()
            ">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- "guestName",
      "phoneNumber",
      "totalTicket",
      "discountFloat",
      "discountAmount", -->

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsWithExpand.length">
          <div [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            ">
            <div class="example-element-diagram" style="display: flex; flex-direction: row"
              *ngFor="let fullReceipt of element.fullReceiptList; index as i">
              <div class="receipt-info">
                <span style="font-weight: bold">STT</span>
                <div>{{ i + 1 }}</div>
              </div>
              <div class="receipt-info">
                <span style="font-weight: bold">Tên khách</span>
                <div>{{ fullReceipt.guestName }}</div>
              </div>
              <div class="receipt-info">
                <span style="font-weight: bold">Email</span>
                <div>{{ fullReceipt.email }}</div>
              </div>
              <div class="receipt-info">
                <span style="font-weight: bold">SĐT</span>
                <div>{{ fullReceipt.phoneNumber }}</div>
              </div>
              <div class="receipt-info">
                <span style="font-weight: bold">Số vé</span>
                <div>{{ fullReceipt.totalTicket }}</div>
              </div>
              <div class="receipt-info">
                <span style="font-weight: bold">Tổng giá</span>
                <div>{{ getTotalPriceReceipt(element.tourishPlan, fullReceipt)}} đ</div>
              </div>
              <div class="receipt-button">
                <button mat-button (click)="openEditDialog(fullReceipt.fullReceiptId)">
                  Edit
                </button>
              </div>

              <div class="receipt-button">
                <button mat-button (click)="openDeleteDialog(fullReceipt.fullReceiptId)">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumnsWithExpand" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="pageSizeOpstion" [length]="length" (page)="handlePageEvent($event)"
    showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>