<nb-card status={{titleColor}}>
  <nb-card-header>
    <h4 style="font-size: 20px; color: whitesmoke"> {{title}}
    </h4></nb-card-header
  >

  <div class="container-fluid">
    <app-book-card
      *ngFor="let book of bookList"
      [id]="book.id ?? ''"
      [name]="book.title"
      [totalSoldInMonth]="book.bookStatus.soldNumberInMonth"
      [remainNumber]="book.bookStatus.remainNumber"
      [currentPrice]="book.bookStatus.currentPrice"
      [cardType]="'normal'"
      [discountFloat]="getDiscountFloat(book)"
    ></app-book-card>
  </div>
</nb-card>
