.addContainer {
  margin-bottom: 15px;
}

.container-fluid {
  display: flex;
  flex-direction: row !important;
  background-color: white;

  flex-wrap: wrap;

  justify-content: center !important;
  align-items: center !important;

  opacity: 0.95;
  margin-left: 0;
  margin-right: 0 !important;
  top: 0;

  padding-bottom: 8px;

  padding-top: 40px;

  border: 0.2px solid rgb(184, 183, 183);
  border-radius: 1%;
}

.container-fluid::after {
  content: "";
  clear: both;
  display: table;
}

.container-fluid div {
  padding-right: 20px !important;
}
