<div>
    <table mat-table [dataSource]="book_list" matSort matSort class="mat-elevation-z8"
        (matSortChange)="announceSortChange($event)">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> No. </th>
            <td mat-cell *matCellDef="let element">
                <button routerLink="/guest/detail/{{element.WpBook.id}}">
                    {{element.WpBook.id}}
                </button>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.WpBook.name}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by body"> Body </th>
            <td mat-cell *matCellDef="let element"> {{element.WpBook.description.length > 20 ?
                element.WpBook.description.substring(0, 40) + "..." : element.WpBook.description.length}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type"> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.WpBook.type}} </td>
        </ng-container>

        <ng-container matColumnDef="page_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type"> Page number
            </th>
            <td mat-cell *matCellDef="let element"> {{element.WpBook.page_number}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.demo-row-is-clicked]=""></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[10]" [length]="books_length" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<ng-template #buttonTmpl let-label="label" let-className="className" let-icon="icon">
    <button [ngClass]="['btn', className ? className : '']">
        <i *ngIf="icon" class="fa {{icon}}"></i>
        {{ label }}
    </button>
</ng-template>

<ng-container [ngTemplateOutlet]="buttonTmpl"
    [ngTemplateOutletContext]="{ label: 'Click here', className: 'btn-primary', icon: null }">
    <div>fuck u</div>
</ng-container>

<ng-container [ngTemplateOutlet]="buttonTmpl"
    [ngTemplateOutletContext]="{ label: 'Remove', className: 'btn-danger', icon: 'fa-remove' }">
    <div>fuck u 2</div>
</ng-container>